.caja{
    background-color: rgba(21, 164, 21, 0.492);
    margin: 2rem;
    padding: 2rem;
    color: white;
    font-size: 40px;
}

/*scrol button*/

.scroll-top-btn{
    position: fixed;
    z-index: 999;
    bottom:50px;
    right: 50px;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    background-color:yellow ;
    color: black;
    outline: 0;
    border: 0;
    transition: all 0.3s ease-out;

}
.scroll-top-btn:hover{
    background-color: black;
    color: yellow;
}
.hidden{
    visibility: hidden;
    opacity: 0;
}

/*DarkThemeButton*/

.dark-theme-btn{
    position: fixed;
    z-index: 999;
    bottom:50px;
    left: 50px;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    background-color:yellow ;
    color: black;
    outline: 0;
    border: 0;
    transition: all 0.3s ease-out;
}
.dark-theme-btn:hover{
    background-color: black;
    color: yellow;
}

.dark-mode{
    background-color: rgb(58, 53, 53);
    color: white;
}